@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  background: #daf8ff;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
