@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-style: normal;
  color-scheme: light dark;
  font-family: "Red Hat Display", sans-serif;
  color: #071952;
  font-optical-sizing: auto;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  background: #daf8ff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
